
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="headerwrapper clearfix">
        <div class="logo-container">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="textwidget">
            {{widget('content', 'textwidgetbox1', {content: '<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut"</p>', lines: 'all'})|raw}}
        </div>
    </div>
</header>

<section class="feature-section">
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}} 
    <div class="navbar">
        {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
    </div>
</section>

<div class="page-wrap">
    <div class="mainwrapper">
        <div class="mainzone mainwrapper">
		        {{zone('main')|raw}}
        </div>
    </div>
</div>

<footer class="bk-footer clearfix">
    <div class="mainwrapper">
        <div class="left"> 
            {{widget('companyname', 'thisunqiuewidgetname', {"business": "profile"})|raw}}
        </div>
        <div class="right">
            {{widget('profile', 'footer-profile', {'profileType':'form','form':'profile'})|raw}}
        </div>
    </div>
</footer>

{% endblock %}